@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-priamria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover:#272727;


    --font-primaria:  "Krona One", sans-serif;
    --font-secundaria: "Montserra", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color:var(--cor-priamria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.apresentacao_bt {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   gap: 32px;
}

.apresentacao__links {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    padding: 21.5px 0;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
}
.apresentacao_bt_subtitle{
    font-family: var(--font-primaria);
    font-weight: 400px;
    font-size: 1.5rem;
}

.apresentacao__links:hover{
    background-color: var(--cor-hover);
    width: 55%;
}

.rodape{
    color: #000000;
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}

.cabecalho{
  padding: 2% 0% 0% 15%;
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    font-weight: 600px;
    text-decoration: none; 
}

/* about.html */

.conteudo_main{
    display: flex;
    padding: 8%;
    gap: 40px;
}

.conteudo_section_main{
    display: flex;
    flex-direction: column;
    gap: 40px
}

.conteudo_main_titulo{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}

.apresentracao__img{
    width: 50%;
}

@media (max-width: 1292px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho_menu{
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .conteudo_main{
        flex-direction: column-reverse;
    }

}